*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Pengaturan penampilan layar kalkulator */
.calculator-screen {
    background-color: gray;
    color: #fff;
    text-align: right;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    height: 45px;
} 

.calculator{
    background-image: url(./mugiwara.png);
    background-size: cover;
}
.container{
    background-image: url(./newgate.png);
    background-size: cover;
}

/* Pengaturan tampilan tombol per baris */
.row {
    display: flex;
}

/* Pengaturan tampilan tombol */
button{
    background-color: gray;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 3px #1a7940;
}

button:active{
    position: relative;
    top: 3px;
}

.all-clear{
    background-color: #ff0000ea;
}
.all-clear:hover {
    background-color: red;
}

/* Pengaturan lebar bagian tombol AC dan 0 */
.all-clear, .zero {
    width: 50%;
}
/* pengaturan warna tombol operator dan = */
.operator, .equal-sign {
    background-color: orange;
}
/* pengaturan animasi hover tombol */
button:hover {
    background-color: darkgray;
}
.operator:hover {
    background-color: darkorange;
}
.equal-sign:hover {
    background-color: darkorange;
}

.container {
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 3px 5px gray;
}

/* tampilan kalkulator di laptop */
@media (min-width: 1000px){     
    .container {
        width: 275px;
        margin-top: 100px;
    }
    .calculator{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .layar {
        width: 95%;
    }

    .calculator-screen {
        font-size: 25px;
        margin-bottom: 20px;
        border-radius: 10px;
        padding-right: 10px;
        width: 100%;
        height: 45px;
    } 

    /* Pengaturan lebar bagian tombol-tombol menyesuaikan lebar layar kalkulator */
    .calculator-keys{
        width: 95%;
    }

    /* Pengaturan tampilan tombol */
    button{
        height: 45px;
        width: 25%;
        font-size: 25px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-right: 2px;
        margin-left: 2px;
    }
}

/* tampilan di smartphone */
@media (max-width: 999px){
    .container{
        width: 80%;
        padding : 25px;
        border-radius: 20px;
        margin-top: 200px;
    }

    .calculator{
        padding-top: 100px;
        padding-bottom: 600px;
    }

    .layar {
        width: 100%;
    }
    .calculator-screen {
        font-size: 70px;
        margin-top: 30px;
        margin-bottom: 80px;
        border-radius: 15px;
        height: 120px;
        padding-right: 30px;
    } 
    button{
        height: 120px;
        width: 25%;
        font-size: 70px;
        border-radius: 20px;
        margin-bottom: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }
}
